@import "./keyboard/Fonts/tempStylesheet.css";

$very-small-screen-down: 480px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$medium-intermediate: 768px !default;
$large-screen-up: 1201px !default;
$very-large-screen-up: 1401px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$large-screen-win: 1350px !default;
$large-screen-1290: 1290px !default;
$very-large-screen: 1400px !default;
$large-screen-1800: 1800px !default;
$large-screen-1600: 1600px !default;
$large-screen-1440: 1440px !default;
$large-screen-1366: 1366px !default;
$large-screen-1280: 1280px !default;
$large-screen-1279: 1279px !default;
$medium-screen-1024: 1024px !default;
$small-screen-692: 692px !default;
$medium-screen-767: 767px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$large-and-down: "only screen and (max-width : #{$medium-screen-up})" !default;
$very-large-and-up: "only screen and (min-width : #{$very-large-screen-up})" !default;
$small-and-up: "only screen and (min-width : #{$small-screen})" !default;
$very-small-and-down: "only screen and (max-width : #{$very-small-screen-down})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-intermediate-down: "only screen and (max-width : #{$medium-intermediate})" !default;
$medium-intermediate-up: "only screen and (min-width : #{$medium-intermediate})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-screen-medium: "only screen and (min-width : #{$large-screen}) and (max-width : #{$large-screen-win})" !default;
$medium-upto-large: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen-1290})" !default;
$small-upto-large: "only screen and (min-width : #{$small-screen}) and (max-width : #{$large-screen-1290})" !default;
$medium-upto-tab: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen})" !default;
$large-screen-1800-and-down: "only screen and (max-width : #{$large-screen-1800})" !default;
$large-screen-1600-and-down: "only screen and (max-width : #{$large-screen-1600})" !default;
$large-screen-1440-and-down: "only screen and (max-width : #{$large-screen-1440})" !default;
$large-screen-1366-and-down: "only screen and (max-width : #{$large-screen-1366})" !default;
$large-screen-1280-and-down: "only screen and (max-width : #{$large-screen-1280})" !default;
$medium-screen-1024-and-down: "only screen and (max-width : #{$medium-screen-1024})" !default;
$large-screen-1280-and-up: "only screen and (min-width : #{$large-screen-1280})" !default;
$large-screen-1024-and-down: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen-1279})" !default;
$ie10-plus: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)" !default;
$medium-screen-767-and-down: "only screen and (max-width : #{$medium-screen-767})" !default;
$small-screen-692-and-down: "only screen and (max-width : #{$small-screen-692})" !default;
$medium-intermediate-upto-1024: "only screen and (min-width : #{$medium-intermediate}) and (max-width : #{$medium-screen-1024})" !default;

header {
  border-bottom: 2px solid wheat;
  display: flex;
  position: relative;
  & > .mb {
    &.active {
      background-color: wheat;
    }
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0.5em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: wheat;
    }
    & > div {
      display: flex;
      justify-content: center;
      & > i {
        display: block;
        width: 2em;
        height: 2em;
        background-size: 100%;
        margin: 0.5em;
        background-repeat: no-repeat;
      }
    }
    &:nth-child(1) {
      i {
        background-image: url("/assets/Images/Icons/home.png");
      }
    }
    &:nth-child(2) {
      i {
        background-image: url("/assets/Images/Icons/usericon.png");
      }
    }

    &:nth-child(3) {
      i {
        background-image: url("/assets/Images/Icons/topIcon.png");
      }
    }

    &:nth-child(4) {
      i {
        background-image: url("/assets/Images/Icons/Down.png");
      }
    }

    &:nth-child(5) {
      i {
        background-image: url("/assets/Images/Icons/Stories.png");
      }
    }

    &:nth-child(6) {
      i {
        background-image: url("/assets/Images/Icons/freeWriting.png");
      }
    }
  }
  & > .lev-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > div {
      &.active {
        background-color: wheat;
      }
      margin: 0.05em;
      background-color: #eee;
      border: 1px solid grey;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
      padding: 0.1em;
      padding-left: 0.25em;
      padding-right: 0.25em;
      display: flex;
      & > i {
        display: block;
        width: 1em;
        height: 1em;
        margin-right: 0.25em;
        background-size: 100%;
      }
      &:nth-child(1) {
        & > i {
          background-image: url("/assets/Images/Icons/level1icon.png");
        }
      }
      &:nth-child(2) {
        & > i {
          background-image: url("/assets/Images/Icons/level2icon.png");
        }
      }
      &:nth-child(3) {
        & > i {
          background-image: url("/assets/Images/Icons/level3icon.png");
        }
      }
    }
  }
  & > .lang-selector-and-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: 0.5em;
    & > select {
      padding: 0.5em;
      box-shadow: 2px 2px 3px grey;
      outline: none;
      border: none;
      border-radius: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}

// Keyboard

.keyboard {
  transform: scale(1.4);
  margin: 0 auto;
  //   margin-top: 60px;
  width: 620px;
  height: 255px;
  background-color: #111;
  border-radius: 9px;
  padding: 10px;
  color: #eee;
  /* #eee; */
  margin-top: 6em;
  margin-bottom: 6em;
  
}

.FontSize {
  margin-top: 22px;
  padding-bottom: 0;
  font-size: 35px;
}

.key {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #333;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius: 2px;
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  &.active {
    background-color: green !important;
  }
  &.wrong-active {
    background-color: tomato !important;
  }
}

.section-a {
  width: 650px;
  height: 260px;
  float: left;
}

.function {
  font-size: 12px;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}
.small {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  padding: 0 5px;
  padding-top: 2px;
  height: 28px !important;
}
.space1 {
  margin-right: 43px !important;
}
.space2 {
  margin-right: 25px !important;
}
.dual {
  font-size: 14px;
  line-height: 20px;
  width: 30px;
}
.backspace {
  width: 84px;
  font-size: 14px;
}
.tab {
  width: 50px;
  line-height: 40px;
  font-size: 13px;
}
.letter {
  width: 30px;
}
.slash {
  width: 64px;
}
.caps {
  width: 70px;
  font-size: 12px;
  line-height: 18px;
}
.enter {
  width: 92px;
  line-height: 40px;
  text-align: center;
  padding-left: 0;
}
.shift.left {
  width: 90px;
  line-height: 40px;
  font-size: 13px;
}
.shift.right {
  width: 104px;
  line-height: 40px;
  font-size: 13px;
}
.ctrl {
  width: 50px;
  line-height: 40px;
  font-size: 15px;
}
.space {
  width: 234px;
}
.arrows {
  position: relative;
  top: 42px;
}
.sec-func .key {
  width: 32px;
  font-size: 10px;
  text-align: left;
  line-height: 40px;
  float: left;
}
.sec-func div.dual {
  line-height: 20px;
}
.arrows .key {
  text-align: center;
  padding-left: 7px;
  margin-left: 2px;
}

.hidden {
  visibility: hidden;
}
.hide {
  display: none !important;
}

.key:hover {
  top: 5px;
  border-radius: 0.25em;
  box-shadow: inset -1px -1px 3px grey;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
  min-width: $small-screen;
}

.typing-view {
  margin-top: 4em;
  margin-bottom: 2em;

  & > div {
    display: flex;
    // background-color: greenyellow;
    justify-content: center;
    // width: fit-content;
    // background-color: red;

    position: relative;
    & > input {
      opacity: 0;
      position: absolute;
      height: 100%;
      z-index: 99;
      width: 90%;
      margin: 0 auto;
    }
    & > span {
      &:nth-child(1) {
        padding-right: 0;
        color: blue;
      }
      &:nth-child(2) {
        visibility: hidden;
        padding-left: 0;
        position: relative;
        &::before {
          font: 40px/40px Roboto !important;
          visibility: visible;
          position: absolute;
          content: "_";
        }
      }
    }

    & > input,
    & > span {
      font: 40px/40px Roboto;

      // background-color: red;
      outline: none;
      border: none;
      // background-color: #eee;
      padding: 0.5em;
      padding-bottom: 0;
      padding-top: 0;
      &::selection {
        background-color: wheat;
      }
    }
    &:nth-child(1) {
      & > span {
        color: black;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }
}

.Nepali {
  .letter,
  .dual {
    font-family: Nepali;
  }
  &.freeTA {
    font-family: Nepali;
  }

  &.typing-view * {
    font: 40px/40px Nepali;
  }
}
.Hindi {
  .letter,
  .dual {
    font-family: Hindi;
  }
  &.freeTA {
    font-family: Hindi;
  }
  &.typing-view * {
    font: 40px/40px Hindi;
  }
}
.Bengali {
  .letter,
  .dual {
    font-family: Bengali;
  }
  &.freeTA {
    font-family: Bengali;
  }

  &.typing-view * {
    font: 40px/40px Bengali;
  }
}
.English {
  .letter,
  .dual {
    font-family: English;
  }
  &.freeTA {
    font-family: English;
  }

  &.typing-view * {
    font: 40px/40px English;
  }
}
.Punjabi {
  .letter,
  .dual {
    font-family: Punjabi;
  }
  &.freeTA {
    font-family: Punjabi;
  }

  &.typing-view * {
    font: 40px/40px Punjabi;
  }
}
.Tamil {
  .letter,
  .dual {
    font-family: Tamil;
  }
  &.freeTA {
    font-family: Tamil;
  }

  &.typing-view * {
    font: 40px/40px Tamil;
  }
}
.Urdu {
  .letter,
  .dual {
    font-family: Urdu;
  }
  &.freeTA {
    font-family: Urdu;
  }

  &.typing-view * {
    font: 40px/40px Urdu;
  }
}
.freeTA {
  display: block;
  margin: 1em auto;
  padding: 0.5em;
  width: 80%;
  max-width: $small-screen;
  font-size: 1.5em;
  height: 8em;
  background-color: #eee;
  border: none;
  outline: none;
  box-shadow: 3px 3px 6px grey;
}
